---
import Layout from "../layouts/Layout.astro";
import PollForm from "../components/PollForm.astro";
import { db, Poll } from "astro:db";

if (Astro.request.method === "POST") {
  // parse form data
  try {
    const formData = await Astro.request.formData();
    console.log(formData);
    const name = formData.get("name");
    const question = formData.get("question");

    if (typeof question === "string") {
      let parsedName = "";
      if (typeof name === "string") {
        parsedName = name.trim();
      }
      await db.insert(Poll).values({ author: parsedName, question });
    }
  } catch (err) {
    console.log(err);
  }

}
---

<Layout title="Dimot">
  <main>
    <h1><span class="text-gradient">Dimot</span></h1>
  </main>
  <button class="add-poll-button" id="open-poll-form-button" type="button"
    >Create a Poll</button
  >
  <div id="poll-form-container" style="display: none;">
    <PollForm />
  </div>
</Layout>

<script>
  const addPollButton = document.getElementById("open-poll-form-button");
  const pollFormContainer = document.getElementById("poll-form-container");
  console.log(addPollButton, pollFormContainer);
  if (addPollButton && pollFormContainer) {
    addPollButton.addEventListener("click", () => {
      pollFormContainer.style.display =
        pollFormContainer.style.display === "none" ? "block" : "none";
    });
  }
</script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .add-poll-button {
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background-color: #bb0e0ef5;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: fixed;
    bottom: 10%;
    right: 43%;
    z-index: 2;
  }
</style>
